<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Follow Up</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="max-w-5xl mx-auto my-4 px-4">
      <header>
        <h1 class="text-4xl font-bold tracking-wide mb-8">Follow Up</h1>
      </header>
      {{content}}
      <footer>
        A site by
        <a href="https://lannonbr.com" class="text-blue-600">Benjamin Lannon</a>
      </footer>
    </div>
  </body>
</html>
